body{
    background-color:#e5e5e5;
    font-family: 'Montserrat', sans-serif;
  animation: bgColor 10s ease-in-out infinite;

}
header{
    margin-top: 5px;
    z-index: 7;
}
.text-content{
    position: relative;
    width: 75%;
    top: 25vh;
    color: #000;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 5;
    margin: 0% 10% 0 15%;
    padding: 2% 0 0 5%;
    text-align: left;
}
aside{
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.35;
    z-index: 6;
}
.text-content h1{
    font-weight: 700;
    font-size: 2.475rem;
    line-height: 1.1;
    letter-spacing: normal;
    text-transform: capitalize;    
}

.text-content p{
    width: 35%;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    letter-spacing: 0cm;
    text-transform: capitalize;
}

.footer{
    width: 100%;
    position: relative;
    /* top:15vh; */
    bottom: 5vh;
    z-index: 5;
    text-align: center;
    color: #000;
}

.footer p{
    text-transform:none;
    font-weight: 500;
    font-size: 0.75em;
    width: 40%;
    margin: 0% auto;
    letter-spacing: normal;
}

@media (min-width: 1440px) {
    .text-content h1{
        font-size: 3.025rem;
    }
    .text-content{
        width: 71%;
        margin: 0% 14% 0 15%;
        padding: 2% 0 0 5%;
    }
    
}

@media (min-width: 768px){
    header .logo{
        top:20px;
        left:30px;
        width:129px;
        height:48px;
        min-width:250px;
        min-height:55px;
        background-position:top;
        pointer-events:all;
        cursor:pointer;
        opacity:1;
        transition:opacity 200ms ease;
        color:transparent;
        pointer-events:none;
        background: url("../gfx/logo-desktop.png");
    }

    .text-content p{
        width: 65%;
    }
}
@media (max-width:768px){
    .footer p{
        font-size: 0.75em;
        width: 60%;
        margin: 0% auto;
        letter-spacing: normal;
    }
    .menu-content{
        font-size: 18px;
    }
}

@media (max-width:425px) {
    header .logo{
        top:20px;left:10px;
    }
    .text-content h1{
        text-align: left;
        font-size: 2em;
    }
    .text-content p{
        width: 100%;
    }
    .menu-content{
        font-size: 16px;
    }

    /* footer{
        position: relative;
        top: 5vh;
    } */
    .footer p{
        font-size: 0.75em;
        width: 100%;
        margin: 0% auto;
        letter-spacing: normal;
    }

}

@media (max-width:375px) {
    .text-content h1{
        font-size: 1.5em;
    }
    .menu-content{
        font-size: 14px;
    }
    .footer p{
        width: 100%;
        margin: 0% auto;
        letter-spacing: normal;
    }

}

@keyframes bgColor{
    0%{
      background-color: #e5e5e5;
    }
    50%{
      background-color:#ffdde1;
    }
    100%{
      background-color: rgb(255, 255, 255);
    }
  }